src/env
src/config/__pycache__
src/app/__pycache__
src/app/apis/__pycache__
src/app/apis/delivery/__pycache__
src/app/apis/storage/__pycache__
src/app/apis/user/__pycache__
src/app/helpers/__pycache__
src/app/migrations/__pycache__
src/app/migrations/0001_initial.py
src/app/models/__pycache__
src/app/routes/__pycache__
src/app/serializers/__pycache__

src/media

src/db.sqlite3

Makefile
README.md
.dockerignore
.gitignore
.vscode